@model POS.Models.KU_Students

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Estudiante KU</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KU_Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organization_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meal_Plan_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meal_Plan_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan.Plan_Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan.Plan_Days)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
